<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="btch2Test">
    <classes>
      <class name="com.Example.Test.ExampleScript2Test"/>
      <class name="com.Example.Test.ExampleScript3Test"/>
    </classes>
  </test> <!-- btch2Test -->
</suite> <!-- Suite -->
